/* a beatifull class button purple */
.button {
    background-color: #6399df;
    border: 1px solid #2874d6;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.button:hover {
    background-color: #305f9c;
}

.button.outline {
    background-color: transparent;
    border: 2px solid slateblue;
    color: slateblue;
}

.button.outline:hover , .button.selected {
    background-color: rgba(105, 90, 205, 0.459)
}

.button.danger {
    background-color: rgb(255, 86, 86);
}

.button.danger:hover {
    background-color: rgb(128, 20, 20);
}
