.members {
    display: flex; 
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    height: 10rem;
    margin-top: 2rem;
    margin-bottom: auto;
}

.members h3 {
    margin: 10px;
    align-self: center;
}
.members p {
    margin: 5px;
}


